*{
    box-sizing: border-box;
}


html {
    background-color: white;
    max-width: 950px;
    font-size: 18px;    
}
header, footer{
    padding: 1.5rem; 
    background-color: rgb(1, 51, 105);
    text-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    display: block;
    border-radius: 5px;
}

main {
    text-align: left;
    display: block;
    font-family: 'PT Sans', sans-serif;
    margin: 1rem 2rem 1rem 2rem;
}

h1 {
    font-size: 1.5em;
    word-wrap: break-word;
    
}

img {
    border-radius: 5px;
}

footer {
    font-size: .75em;
    
}

.byu {
    color: white;
}

.lastUpdated{
    color: rgb(255, 255, 255);
} 


    


