*{
    box-sizing: border-box;
}


html {
    background-color: white;
    max-width: 950px;
    font-size: 18px;    
}
header, footer{
    padding: 1.5rem; 
    background-color: rgb(1, 51, 105);
    text-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    display: block;
    border-radius: 5px;
}

main {
    text-align: left;
    display: block;
    font-family: 'PT Sans', sans-serif;
    margin: 1rem 2rem 1rem 2rem;
}

h1 {
    font-size: 1.5em;
    word-wrap: break-word;
    
}

img {
    border-radius: 5px;
}

.flex {
	display: flex;
	/* flex-direction: row; */
	/* let us combine row and wrap with flow */
	flex-flow: row wrap;
}

.flex-col {
	flex: 1 1 auto;
	background-color: #bed;
}
.flex-col, .column-col, .grid-col {
	border-bottom: 1px solid #333;
	border-left: 1px solid #333;
	text-align: center;
}
.flex-col:hover, td:hover, .column-col:hover, .grid-col:hover {
	opacity: 0.75;
	background-color: black;
	color: white;
}
.flex, .column, .grid {
	border-right: 1px solid #333;
}

.col-head {
	display: block;
	padding: 5px;
	border-bottom: 1px solid #333;
	text-align: center;
}

img {
	border-radius: 100px;
	padding: 0.25rem;
}

.data {
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}

.col-head,th {
	font-weight: 700;
	font-size: 1rem;
	background-color: black;
	color: white;
}


footer {
    font-size: .75em;
    
}

.byu {
    color: white;
}

.lastUpdated{
    color: rgb(255, 255, 255);
} 

.icon a{
    color: white;
    
}

    


