
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=PT+Sans&display=swap');

html {
    background-color: white;
    max-width: 960px;
    font-size: 18px;
    margin: 3rem auto;
    
    
}
header, footer{
    padding: 1.5rem; 
    margin: auto;
    width: 100%;
    background-color: rgb(1, 51, 105);
    text-align: center;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    display: block;
    border-radius: 25px;
}
header{
    
    height: 100px;
}

main {
    text-align: left;
    display: block;
    height: 200px;
    font-family: 'PT Sans', sans-serif;
    margin: 2rem;
}

h1 {
    font-size: 2em;
    
}

img {
    float: right;
    margin: 15px;
}

footer {
    height: 50px;
    font-size: .75em;
    
}

.byu {
    color: white;
}

.lastUpdated{
    color: rgb(255, 255, 255);
} 

@media screen and (max-width: 550px) {
    
    
    
}

