table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    box-shadow: 10px 10px 8px #628ca6;
    font-family: 'Ubuntu' sans-serif;
}

table, th, td {
    border: 1px solid lightgray;
    padding: 5px;
}

thead, tfoot{
    background-color: #7fb9c2;    
}

thead th{
    font-size: 1.3rem;
}
thead td{
    background-color: #628ca6;
    color: white;
    font-weight: bold;
}

tbody{
    background-color: #e7ffed;
}

tbody tr:nth-child(odd){
    background-color: #e7f0ed;
}

tbody tr:nth-child(4) td:nth-child(3){
    background-color: #628ca6;
    color: white;
}


tbody tr:nth-child(5) td:nth-child(1){
    font-style: italic;
}

tfoot{
    font-size: 65%;
}