*{
    box-sizing: border-box;
}

/* overall setting */

html {
    background-color: #FCD5CE;
    max-width: 1400px;
    font-size: 18px;  
    align-content: center;
    
    
}

h1 h2 {
    font-size: 1.5em;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif
    
}

header, footer{
    padding: 1.5rem; 
    background-color: #FFB5A7;
    text-align: center;
    color: black;
    font-family: 'Poppins', sans-serif;
    display: block;
    border-radius: 5px;
}

main {
    text-align: center;
    display: block;
    font-family: 'Lato', sans-serif;
    margin: auto;
}

.url{
    width: 90%;
}





/* Nav settings */

nav ul{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
    background-color: #F9DCC4;
}

nav li{
    margin: auto;
    
}

ul{
    list-style: none;
}

nav a {
    color:#292A4D;
    text-decoration: none;
}

/* Coloring active page tab */
.plan a{
    color: blue;
}

.target a{
    color: blue;
}

.color a{
    color: blue;
}

.type a{
    color: blue;
}




.scenarios{
    list-style: square inside;
    text-align: left;
}







/* table formatting */

table {
    border-collapse: collapse;
    text-align: center;
    background-color: #F8EDEB;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
    
}

th, td {
    padding: .25rem;
    font-size: .75rem;
}

.bold{
    font-weight: bold;
}

/* mouse over link */

a:hover {
    color: red;
}





/* formatting for color-scheme page */

.header{
    background-color: #FFB5A7;
}


table .nav{
    background-color: #F9DCC4;
}

.table{
    background-color: #F8EDEB;
}


/* Typeography page */

.poppins{
    font-family: 'Poppins', sans-serif;
}

.lato{
    font-family: 'Lato', sans-serif;
}


/* Footer formatting */

footer {
    font-size: .75em;
}

.byu {
    color: black;
}

.lastUpdated{
    color: rgb(255, 255, 255);
} 


    


