@media only screen and (min-width: 65em) {
    html{
        /* margin: 1em 25% auto 20%; */
       margin: auto 20%;
    }
    
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    div{
        width: 300px;
    }
}