/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {



    nav button {
        display: none;
    }

    nav ul li {
        float: left;
    }

    nav ul.hide {
        display: block;
    }

    main {
        max-width: 800px;
        margin: 10px auto;
    }

    /* gallery images set up */
    .gallery {
        max-width: 1000px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .gallery :hover {
        box-shadow: 0 0 25px rgba(33, 33, 33, .5);
    }

    .galleryFooter {
        max-width: 1000px;
    }

    from label.sbs {
        padding: .4rem 0;
    }

    /* index page */
    .cards section{
        display: block;
        max-width: 400px;
        margin: 20px;
    }

    .cards p{
        margin-top: ;
    }

    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards section img{
        height: auto;
        width: 100%;
        /* display: flex;
        align-items: flex-end; */
        vertical-align: bottom;
        display: table-cell;

    }

    .cards section .fish{
        grid-column: 1;
    }

    .cards section .preston{
        grid-column: 2;
    }

    .cards section .soda{
        grid-column: 3;
    }



}

/*end large */