/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

*{
    box-sizing: border-box;
}

html{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #FCD5CE;
    font-size: 18px;
    /* max-width: 400px; */
    
}

#friday{
    display: none;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgb(209, 136, 0);
    color: white;
    height: 5%;
}


header{
    background-color: #FFB5A7;
    padding: 10px;
    color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    display: flex;
    flex-direction: column;
}

.motto {
	font-style: italic;
	letter-spacing: 1pt;
	margin-left: 20px;
	font-size: .9rem;
}


h1,h2 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

h3{
    font-size: 1rem;
}

/* .summary{
    align-content: start;
} */

/* Navigation menu */
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav{
    background-color:rgb(126, 162, 197);
    font-family: 'Lato', sans-serif;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3);   
}

nav ul li.active a{background-color: rgba(0,0,0,0.2); color: #fff;}

nav ul li a:hover {background-color: rgba(0,0,0,0.4);}

nav ul.hide {display: none;}

main div{
    background-color: rgba(0,0,0,0.2);
    max-width: 800px;
    margin: 10px auto;
    /* display: flex;
    justify-content: center; */
}

.summary{
    position: relative;
    
}

.summary h2{
    font-size: .75rem;
}

.weather{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: .65rem;
    left: 15px;
    top: 20px;
    width: 50%;
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 5px;
}

.hero {
    width: 100%;
    padding: 1%;
}

.article{
    margin-top: 30px;
    text-align: left;
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
}

.article .title{
    text-align: left;
}

.author {
    font-size: .7rem;
}

.articleImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%; 
}

.contact{
    text-align: center;
}

.map{
    width: 80%;
    height: 60%;
}

footer{
    bottom: 0;
    /* position: fixed; */
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    border-radius: 7px;
}

.footer{ 
    background-color: #FFB5A7;
    height: 3rem;
    margin: auto;
    max-width: 800px;
    text-align: center;
    padding: 10px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: .7rem;
}

.day{
    display: none;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }










