/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 680px) {

    nav {
        display: flex;
        justify-content: center;
    }

    nav button {
        display: none;
    }

    nav ul li {
        flex: 1 1 100%;
        min-height: 100%;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, .3);
        padding: .6rem 1rem;
        min-height: 100%;
    }


    nav ul li a:nth-child(1) {
        border-left: 1px solid rgba(0, 0, 0, .3);

    }

    main {
        max-width: 650px;
    }

    main div {
        border-radius: 10px;
    }

    .hero {
        align-items: center;
        padding: 1%;
    }

    .summary h2 {
        font-size: 1rem;
    }

    .weather {
        font-size: .85rem;
        width: 30%;
    }

    .articleImg {
        float: right;
        width: 35%;
    }

    .day {
        display: block;
    }

    .flex {
        display: flex;
        /* flex-direction: row; */
        /* let us combine row and wrap with flow */
        flex-flow: row wrap;
    }

    .day h3 {
        text-align: center;

    }

    .flex-col {
        flex: 1 1 auto;
        background-color: #bed;
    }

    .flex-col,
    .column-col,
    .grid-col {
        border-bottom: 1px solid #333;
        border-left: 1px solid #333;
        text-align: center;
    }

    .flex,
    .column,
    .grid {
        border-right: 1px solid #333;
    }

    .col-head {
        color: black;
        display: block;
        padding: 5px;
        border-bottom: 1px solid #333;
        border-top: 1px solid #333;
        text-align: center;
        border-radius: 10px 10px 0px 0px;
    }

    .col-temp {
        display: block;
        padding: 5px;
        border-bottom: 1px solid #333;
        border-top: 1px solid #333;
        text-align: center;
    }

    .flex img {
        padding: 0.25rem;
    }

    .data {
        display: block;
        padding: 0 5px 5px;
        font-size: 0.8rem;
        text-align: center;
    }

    .col-head,
    th {
        font-weight: 700;
        font-size: 1rem;
        background-color: rgb(126, 162, 197);
        color: black;
    }

    .flex img {
        width: 50px;
    }


    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 30px;
        padding: 5px;
    }

    .contact h2 {
        grid-column: 1;
        grid-row: 1;
    }

    .contact p {
        grid-column: 1;
        grid-row: 2;
    }

    .contact img {
        width: 100%;
        grid-column: 2;
    }

    /* gallery images set up */
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    /* index page */
    .article img{
        float: right;
        
    }
    .cards section {
        max-width: 650px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
    }

    .cards section:nth-child(odd) img {
        grid-column: 1;
        grid-row: 1;
    }

    .cards section:nth-child(odd) .data {
        grid-column: 2;
    }

    .cards section img{
        height: 100%;
    }


}

/*end medium */