/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {



    nav button {
        display: none;
    }

    nav ul li {
        float: left;
    }

    nav ul.hide {
        display: block;
    }

    main {
        max-width: 800px;
        margin: 10px auto;
    }

    /* gallery images set up */
    .gallery {
        max-width: 1000px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .gallery :hover {
        box-shadow: 0 0 25px rgba(33, 33, 33, .5);
    }

    .galleryFooter{
        max-width: 1000px;
    }

    from label.sbs{
        padding: .4rem 0;
    }

}

/*end large */